.navbar {
  background-color: white;
}
body {
  background-color: white;
}
.logo {
  height: 60px;
}
nav ul a {
  color: black;
}
nav .nav-wrapper {
  background-color: white;
}
nav .brand-logo {
  color: black;
}
.heart {
  margin: 5px;
}
a {
  color: slateblue;
}
.card .card-content .card-title  {
  line-height: 110%;
}
