<!-- show search results here -->
<h1>Home browse</h1>

<div class="col-xs-6 searchBox">
  <div class="input-group">
    <input type="text" class="form-control" placeholder="Search by name ingredient, diet type..." ng-model="searchText">
   <span class="input-group-btn">
      <button ng-click="searchAllRecipes()" > search </button>
    </span>
  </div>
</div>
   
   <!-- put recipe.recipe_id under link that goes to single recipe -->
<div class="card col-12 h-90">
  <div class="card-block">
    <div class="card-columns">
      <div class="col-12" ng-repeat="recipe in recipes">
      <img src={{recipe.image_url}}>
      <h4 class="card-title capitalize title">{{recipe.title}}</h4>
    </div>
  </div>
</div>
</div>