<!-- Materialize Nav -->
  <nav ng-controller="NavController">
    <div class="nav-wrapper main-nav">
      <a href="#!/browse/all" class="brand-logo"><img class="logo" src="/tacotaco.png"></a>
      <ul class="right">
        <li ng-show="isLoggedIn"><a ng-href="#!/recipes/saved"><i class="material-icons left">favorite</i>Saved Recipes</a></li>

        <li ng-show="isLoggedIn"><a ng-href="#!/logout" ng-click="logout()"><i class="material-icons left">input</i>Logout</a></li>
      </ul>
    </div>
  </nav>
