<h3>Saved Recipes</h3>
<div class="row">
  <div class="col s12 m6">
    <a ng-click= "viewRecipe(recipe.recipe_id)">
      <div class="card">
      <div class="col-12" ng-repeat="recipe in savedRecipes">
        <div class="card-image">
          <img src={{recipe.image_url}}>
          <span class="card-title">{{recipe.title}}</span>
    </a><!--link to single view-->
          <!-- <a ng-click="saveRecipe(recipe)" class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">favorite_border</i></a> -->
        </div>
        <div class="card-content">
        
          <p> {{recipe.publisher}} </p>
        </div>
        </div>
      </div> <!--card-->
  </div><!--column-->
</div><!--row-->