
<div class="row">
    <div class="col s12" >

    <div class="col s2"></div>

      <div class="col s8">
    <h3>{{recipe.title}}</h3>
        <div class="card">

              <div class="card-image">
                    <img class="srvimg" src={{recipe.image_url}}>
              </div>
            <div class="card-content">
            
            Ingredients:
            <div ng-repeat="ingredient in ingredients">
              <p>{{ingredient}}</p>
            </div>
            <br>  

              Directions: 
              <p> view on 
                <a href={{recipe.source_url}} target="_blank">{{recipe.publisher}}</a>
              </p>
            </div>

        </div> <!--card -->
    </div> 

    <div class="col s2"></div>

  </div> 